<img src="../../assets/img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
<div id="login-container" class="animation-fadeIn">
    <!-- Login Title -->
    <div class="login-title text-center">
        <h1><i class="gi gi-flash"></i> <strong>ProUI</strong><br><small>Please <strong>Login</strong> or <strong>Register</strong></small></h1>
    </div>
    <!-- END Login Title -->

    <!-- Login Block -->
    <div class="block push-bit">
        <!-- Login Form -->
                <!-- Reminder Form -->
        <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()" class="form-horizontal form-bordered form-control-borderless">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        <input type="email" id="inputEmail" formControlName="email"  class="form-control" placeholder="Email" required autofocus>
                        <p class="alert alert-danger" *ngIf="erroresForm.email">
                            {{ erroresForm.email }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <button type="submit" [disabled]="!reminderForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Reset Password</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <small>Did you remember your password?</small> <a routerLink="/" id="link-reminder"><small>Login</small></a>
                </div>
            </div>
        </form>
        <!-- END Reminder Form -->

      </div>
    <!-- END Login Block -->
</div>
<!-- END Login Container -->

<!-- END Modal Terms -->
