<ul class="sidebar-section sidebar-themes clearfix sidebar-nav-mini-hide">
  <li class="active">
    <a href="javascript:void(0)" class="themed-background-dark-night themed-border-night" data-theme="assets/css/themes/night.css"
      data-toggle="tooltip" title="Night"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-amethyst themed-border-amethyst" data-theme="assets/css/themes/amethyst.css"
      data-toggle="tooltip" title="Amethyst"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-modern themed-border-modern" data-theme="assets/css/themes/modern.css"
      data-toggle="tooltip" title="Modern"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-autumn themed-border-autumn" data-theme="assets/css/themes/autumn.css"
      data-toggle="tooltip" title="Autumn"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-flatie themed-border-flatie" data-theme="assets/css/themes/flatie.css"
      data-toggle="tooltip" title="Flatie"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-spring themed-border-spring" data-theme="assets/css/themes/spring.css"
      data-toggle="tooltip" title="Spring"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-fancy themed-border-fancy" data-theme="assets/css/themes/fancy.css"
      data-toggle="tooltip" title="Fancy"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-fire themed-border-fire" data-theme="assets/css/themes/fire.css"
      data-toggle="tooltip" title="Fire"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-coral themed-border-coral" data-theme="assets/css/themes/coral.css"
      data-toggle="tooltip" title="Coral"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-lake themed-border-lake" data-theme="assets/css/themes/lake.css"
      data-toggle="tooltip" title="Lake"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-forest themed-border-forest" data-theme="assets/css/themes/forest.css"
      data-toggle="tooltip" title="Forest"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-waterlily themed-border-waterlily" data-theme="assets/css/themes/waterlily.css"
      data-toggle="tooltip" title="Waterlily"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-emerald themed-border-emerald" data-theme="assets/css/themes/emerald.css"
      data-toggle="tooltip" title="Emerald"></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="themed-background-dark-blackberry themed-border-blackberry" data-theme="assets/css/themes/blackberry.css"
      data-toggle="tooltip" title="Blackberry"></a>
  </li>
</ul>
