<div id="sidebar-scroll">
  <div class="sidebar-content">
    <a href="#" class="sidebar-brand">
          <i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>Mooc</strong> UV</span>
        </a>
    <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
      <div class="sidebar-user-avatar">
        <a href="#">
              <img src="assets/img/placeholders/avatars/avatar.jpg" alt="avatar">
            </a>
      </div>
      <div class="sidebar-user-name">
        {{ nombre }}
      </div>
      <div class="sidebar-user-links">
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
      </div>
    </div>

    <!-- Color de thema SUBMODULO-->
    <app-theme-color></app-theme-color>

    <!-- MENU  SUBMODULO-->
    <ul class="sidebar-nav">
      <app-menu></app-menu>
    </ul>
  </div>
</div>
