<img src="../../assets/img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
<!-- Login Container -->
<div id="login-container" class="animation-fadeIn">
  <!-- Login Title -->
  <div class="login-title text-center">
    <h1><i class="gi gi-flash"></i> <strong>ProUI</strong><br><small>Please <strong>Login</strong> or <strong>Register</strong></small></h1>
    <div  class="animation-fadeIn">
      <form>
        <button type="button" id="btn-twitter" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i>  Login with your Twitter Account</button>
      </form>
    </div>
    <div  class="animation-fadeIn">
      <form>
        <button type="button" id="btn-google" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i>  Login with your Google Account</button>
      </form>
    </div>
    <div  class="animation-fadeIn">
      <form>
        <button type="button" id="btn-facebook" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>  Login with your Facebook Account</button>
      </form>
    </div>
    <div  class="animation-fadeIn">
      <form>
        <button type="button" id="btn-github" class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i>  Login with your Github Account</button>
      </form>
    </div>
    
  </div>
  <!-- END Login Title -->

  <!-- Login Block -->
  <div class="block push-bit">
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal form-bordered form-control-borderless">
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName="email" required autofocus>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
          </div>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-xs-4">
          <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
            <input type="checkbox" id="login-remember-me" name="login-remember-me" checked>
            <span></span>
          </label>
        </div>
        <div class="col-xs-8 text-right">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!loginForm.valid" ><i class="fa fa-angle-right"></i> Login to Dashboard</button>
          
          <!-- <a routerLink="/dashboard" class="btn btn-sm btn-primary">Iniciar Sesión</a>-->
          <!--<a class="btn btn-sm btn-primary" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Iniciar Sesión </a>-->
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
          <a routerLink="/reminder" id="link-reminder-login"><small>Forgot password?</small></a> -
          <a routerLink="/register" id="link-reminder-login"><small>Create a new account</small></a>
        </div>
      </div>
    </form>
    <p class="alert alert-danger" *ngIf="mensaje">
      El usuario o contraseña no es correcto.
    </p>
    <!-- END Login Form -->
    
  </div>
  
</div>
<!-- END Modal Terms -->
<div id="particles-js"></div>
<!-- END Modal Terms -->
