<li class="sidebar-header">
  <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="fa fa-home"></i></a></span>
  <span class="sidebar-header-title">Dashboard</span>
</li>
<li>
    <a routerLink="/pages/dashboard"><i class="fa fa-tachometer sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a routerLink="/pages/curses"><i class="fa fa-graduation-cap sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Curses</span></a>
</li>